.vs/*
WeirdoBot/obj/*
WeirdoBot/bin/*
WeirdoBot/Properties/*
packages/*
WeirdoBot/obj/project.assets.json
WeirdoBot/Database/Database.cs
WeirdoBot/obj/WeirdoBot.csproj.nuget.cache
WeirdoBot/obj/WeirdoBot.csproj.nuget.g.targets
WeirdoBot/obj/WeirdoBot.csproj.nuget.g.props
WeirdoBot/Database/Database.cs
WeirdoBot/obj/WeirdoBot.csproj.nuget.cache
WeirdoBot/obj/WeirdoBot.csproj.nuget.cache
WeirdoBot/obj/WeirdoBot.csproj.nuget.g.props
WeirdoBot/obj/WeirdoBot.csproj.nuget.g.targets
WeirdoBot/obj/project.assets.json
WeirdoBot/Properties/PublishProfiles/FolderProfile.pubxml
WeirdoBot/Properties/PublishProfiles/FolderProfile.pubxml.user
280805559
